<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión orden Medicamentos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/style/style_gestionMedicamentos.css') }}"
    />
  </head>
  <header>
    <div class="menu-container">
        <button class="menu-icon" onclick="toggleMenu()">☰</button>
        <nav class="menuOptions" id="menuOptions">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Conócenos</a></li>
                <li><a href="#">Información Usuario</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <main class="container">
        <h1>Gestión de Citas</h1>
        <button class="btn">Ver orden medicamentos</button>
        <button class="btn">Eliminar orden medimentos</button>
        <button class="btn">Actualizar orden medicamentos</button>
    </main>
    
    <script src="{{ url_for('static', path='/js/logic_gestionMedicamentos.js')}}"></script>
</body>
</html>
