<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/style/style_ordenMedicamentosAdmin.css') }}" />
    <title>ORDEN MEDICAMENTOS/admin</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
      <img src="{{ url_for('static', path='/img/imgLogoSias.png ') }}" 
      alt="SIAS" >

      <nav>
        <ul>
          <li class="pagina_inicio"><a href="./Pagina_principal.html">Pagina inicio</a></li>
          <!--colocar enlace-->
        </ul>
      </nav>
    </header>
  
    <!-- segundo fondo  -->
    <section class="hero">
      <h1>Ordena los medicamentos </h1>
      <p>Iingresa la siguiente informacion del afiliado.</p>
    </section>
  
    <!-- Formulario para solicitud de medicamentos -->
    <section id="solicitud" class="formulario">
      <h2>Solicitud de Medicamentos</h2>
      <!--metodo post para envio formulario-->
    <form action="http://127.0.0.1:8000" method = "POST" id="form-medicamentos">
        <label for="nombre">Nombre completo del afiliado:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
     <!--manejo errores -->
        <span id="nombre_incorrecto" class="error-message"></span>  

         <!--seleccion documento-->
         <div class="contenedor_seleccion">
            <label for="documentType">Tipo de Documento del afiliado</label>
        </div>
            <select id="tipoDocumento" name="documentType" required>
              <option value="">Seleccionar</option>
                <option value="CC">Cédula de Ciudadanía</option>
                <option value="TI">Tarjeta de Identidad</option>
                <option value="PAS">Pasaporte</option>
              </select>
              <!--manejo errores -->
              <span id="tipo_documento_incorrecto" class="error-message"></span>  

        <!--Numero de documento-->
        <label for="documento">Número de identificación del afiliado:</label>
        <input type="text" id="documento" name="documento" placeholder="Ingresa tu documento" required maxlength="10">
        <!--manejo errores -->
        <span id="numero_documento_incorrecto" class="error-message"></span>  
        
        <!-- Correo electrónico -->
        <div class="contenedor_seleccion">
            <div class="form-contenedor">
              <label for="email">Confirmacion Correo Electrónico del afiliado : </label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="ejemplo@correo.com"
                required
              />
               <!--Manejo de errores correo-->
              <span id="emailError" class="error-message"></span>
            </div>
        <label for="medicamentos">Ingrese orden de medicamento del afiliado :</label>
        <input type="text" id="medicamentos" name="medicamentos"
       placeholder="Orden N-" required maxlength="10"></textarea>

        <span id="orden_error" class="error-message"></span>
            </div>
  
        <button class="boton" type="submit">Enviar</button>
      </form>
    </section>
  
    <!-- Pie de página -->
    <footer>
      <p>&copy; 2025 SIAS, derechos reservados.</p>
    </footer>

    <script src="{{ url_for('static', path='/js/logic_ordenMedicamentosAdmin.js')}}"></script> 
</body>
</html>